.post {
	.featured-image-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		max-height: 500px;
		margin-bottom: 30px;

		> div {
			width: 100%;
		}
	}
	> time {
		text-align: center;
		display: block;
		margin-bottom: 15px;
	}
}
