.related-posts {
	display: flex;
	flex-direction: column;
	align-items: center;

	> h3 {
		color: lighten(black, 20%);
		text-transform: uppercase;
		font-size: 1.2rem;
	}

	ul {
		margin: 0 15px;
		max-width: 900px;
		width: 60%;
		display: flex;
		justify-content: space-evenly;

		@media screen and (max-width: 1050px) {
			width: 80%;
		}

		@media screen and (max-width: 500px) {
			width: 90%;
			display: block;
		}

		li {
			margin: 0 15px;
			display: inline-block;
			flex: 1;

			@media screen and (max-width: 500px) {
				width: 100%;
				margin: 0 0 40px;
			}

			.img-wrapper {
				height: 180px;

				@media screen and (max-width: 1050px) {
					height: 140px;
				}

				@media screen and (max-width: 500px) {
					// height: 130px;
				}
			}

			h4 {
				font-size: 1.3rem;
				margin: 0;
				padding: 15px 0;

				> a {
					text-decoration: none;
					color: lighten(black, 15%);
				}
			}

			> time {
				color: lighten(black, 40%);
			}
		}
	}
}
