.main-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 10px;

	> ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 0;

		> li {
			list-style: none;
			padding: 0 5px;
			margin: 0;
			overflow: hidden;

			> a {
				display: inline-block;
				height: 100%;
				text-decoration: none;
				color: #222222;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 15px;
				padding: 0 16px;
				line-height: 60px;
				font-weight: 600;
				font-family: "Open Sans", sans-serif;

				&.active {
					color: var(--accent);
				}
			}
		}
	}

	> button {
		border: none;
		background: none;
		cursor: pointer;
		flex-direction: column;
		display: flex;
		justify-content: center;
		fill: #222222;

		&:focus {
			outline: none;
		}
	}

	> form {
		margin-bottom: 0;
		height: 60px;
		width: 60%;
		max-width: 350px;
		padding-right: 20px;

		> .searchBar {
			transition: opacity 0.5s ease-in;
			opacity: 0;
			background: #f4f4f4;
			border: none;
			border-radius: 15px;
			padding: 5px 8px;
			font-size: 1em;
			margin: 15px;
			width: 100%;

			&.active {
				opacity: 1;
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 4px 2px var(--accent);
			}
		}
	}
}
