.post-list {
	margin: 0;
	width: 100%;
	padding: 0;
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 30px;
	grid-column-gap: 40px;
	list-style-type: none;
	justify-content: center;
	justify-items: center;

	@media screen and (max-width: 1650px) {
		grid-template-columns: auto auto;
		grid-column-gap: 60px;
	}

	@media screen and (max-width: 1200px) {
		grid-template-columns: auto auto;
		grid-column-gap: 20px;
	}

	@media screen and (max-width: 1080px) {
		grid-template-columns: 100%;
		grid-column-gap: 20px;
	}
}
