.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 50px;

	@media screen and (max-width: 900px) {
		padding: 0;
	}

	> ul {
		display: flex;
		flex-wrap: wrap;
		width: 1080px;
		margin: 40px 0 0;
		padding: 0;

		@media screen and (max-width: 1200px) {
			width: 800px;
		}

		@media screen and (max-width: 900px) {
			width: 100%;
		}

		> li {
			margin-right: 20px;
			flex-grow: 1;
			list-style: none;
			height: 200px;
			background-size: cover;
			background-repeat: no-repeat;

			@media screen and (max-width: 700px) {
				width: 100%;
				flex-grow: initial;
				margin-right: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			> a {
				text-decoration: none;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				h3 {
					padding: 10px 20px;
					color: black;
					background-color: white;
					display: inline-block;
					font-family: "Open Sans", sans-serif;
					font-weight: 600;
					font-size: 0.9em;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
		}
	}
}
