.post-card {
	display: inline-block;
	margin: auto;
	padding: 15px;

	@media screen and (max-width: 1100px) {
		width: 100%;
	}

	> div {
		width: 500px;
		height: 250px;
		background-position: center;
		background-size: cover;
		border-radius: 4px;

		@media screen and (max-width: 1100px) {
			width: 100%;
		}

		> a {
			text-decoration: none;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: white;
			font-family: "Roboto", sans-serif;

			@media screen and (max-width: 500px) {
				flex-direction: column;
				align-items: center;
			}

			.title {
				font-size: 1.5em;
			}

			.date {
				font-weight: 100;
				padding-top: 30px;
				color: rgba(255, 255, 255, 0.94);
			}
		}
	}
}
