.slider {
	overflow: hidden;
	height: 540px;
	width: 1080px;
	border: 1px solid gray;
	box-shadow: 0 0 2px gray;
	position: relative;

	@media screen and (max-width: 1200px) {
		width: 800px;
	}

	@media screen and (max-width: 900px) {
		width: 100%;
		height: 400px;
	}

	> .posts {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;

		> li {
			width: 100%;
			height: 100%;
			display: none;
			text-decoration: none;
			z-index: -1;
			list-style: none;

			&.active {
				display: block;
			}

			> div {
				font-family: "Roboto", sans-serif;
				color: white;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				> a {
					color: white;
					font-size: 0.8em;
					font-weight: bold;
					letter-spacing: 2px;
					border: white 1px solid;
					text-decoration: none;
					line-height: 40px;
					padding: 0 25px;
					margin-bottom: 25px;
					text-transform: uppercase;
				}

				> h2 {
					text-align: center;
					margin-bottom: 30px;

					> a {
						color: white;
						text-decoration: none;
						letter-spacing: 1px;
						font-size: 1.5em;
						margin-bottom: 10px;
						line-height: 44px;
						font-weight: 400;

						@media screen and (max-width: 900px) {
							font-size: 1.2em;
						}
					}
				}

				> time {
					font-size: 0.9em;
				}
			}
		}
	}

	> button {
		cursor: pointer;
		border: none;
		background: none;
		position: absolute;
		top: 45%;
		color: white;
		z-index: 1;

		&:first-child {
			left: 7px;
		}

		&:last-child {
			right: 7px;
		}
	}

	> .dots {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 10px;
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0 0 20px;

		> li {
			margin-right: 11px;

			> button {
				width: 13px;
				height: 13px;
				border: 2px white solid;
				border-radius: 50%;
				background: none;
				transition: background-color 0.5s;
				cursor: pointer;
				padding: 0;

				&.active {
					background-color: white;
				}
			}
		}
	}
}
